
<h3 class="text-center"> Test </h3>
<ul class="metismenu" id="menu">
	<li class="active">
		<a href="#"> <i class="fa fa-dashboard fa-fw fa-lg"></i> &nbsp;Dashboard</a>
	</li>
	<li>
		<a href="#" aria-expanded="false"><i class="fa fa-bar-chart fa-fw fa-lg"></i>  &nbsp;Board <i class="fa fa-angle-left fa-pull-right fa-lg text-white"></i></a>
		<ul aria-expanded="true">
			<li> <a ui-sref="create_board"> Create Board</a></li>
			<li> <a ui-sref="edit_board"> Edit Board</a></li>
			<li> <a ui-sref="delete_board"> Delete Board</a></li>
		</ul>
	</li>
	<li>
		<a href="#" aria-expanded="false"> <i class="fa fa-th fa-fw fa-lg"></i> &nbsp;List<i class="fa fa-angle-left fa-pull-right fa-lg text-white"></i></a>
		<ul aria-expanded="false">
			<li> <a ui-sref="create_list"> Create List</a></li>
			<li> <a ui-sref="rename_list"> Rename List</a></li>
			<li> <a ui-sref="change_list"> Change the position of List</a></li>
			<li> <a ui-sref="delete_list"> Delete List</a></li>
		</ul>
	</li>
	<li>
		<a href="#" aria-expanded="false"> <i class="fa fa-th fa-fw fa-lg"></i> &nbsp;Card<i class="fa fa-angle-left fa-pull-right fa-lg text-white"></i></a>
		<ul aria-expanded="false">
			<li> <a ui-sref="create_card"> Create Card</a></li>
			<li> <a ui-sref="edit_card"> Edit card</a></li>
			<li> <a ui-sref="move_card"> Move the card</a></li>
			<li> <a ui-sref="delete_card"> Delete card</a></li>
		</ul>
	</li>
</ul>